In [13]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("âœ… ì»¤ë„ ì—°ë™ ì„±ê³µ & íŒ¨í‚¤ì§€ ì •ìƒ ì‘ë™!")

âœ… ì»¤ë„ ì—°ë™ ì„±ê³µ & íŒ¨í‚¤ì§€ ì •ìƒ ì‘ë™!

In [24]:
import pandas as pd                         # CSV ì½ê¸°ìš©
from sqlalchemy import create_engine        # DB ì—°ê²°ìš©
from dotenv import load_dotenv              # .env íŒŒì¼ì—ì„œ í™˜ê²½ë³€ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
import os                                   # í™˜ê²½ë³€ìˆ˜ ë¡œë“œì— ì‚¬ìš©

# .env ë¡œë“œ
load_dotenv()

# DB ì—°ê²° ì—”ì§„ ìƒì„±
engine = create_engine(os.getenv("DB_URL"))

print("âœ… DB ì—°ê²° ì„±ê³µ!")

# CSV íŒŒì¼ ë¶ˆëŸ¬ì˜¤ê¸° (íŒŒì¼ ê²½ë¡œëŠ” í”„ë¡œì íŠ¸ êµ¬ì¡°ì— ë”°ë¼ ì¡°ì •!)
df = pd.read_csv("../data/seoul_dong_codes.csv")

# ë°ì´í„° í™•ì¸

print(df.info())
print(df.info)
df.head()

âœ… DB ì—°ê²° ì„±ê³µ!
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        467 non-null    int64
 1   full_name   467 non-null    object
 2   gu_name     467 non-null    object
 3   dong_name   467 non-null    object
 4   short_code  467 non-null    int64
dtypes: int64(2), object(3)
memory usage: 18.4+ KB
None
<bound method DataFrame.info of            code      full_name gu_name dong_name  short_code
0    1111010100  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì²­ìš´ë™     ì¢…ë¡œêµ¬       ì²­ìš´ë™    11110101
1    1111010200  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì‹ êµë™     ì¢…ë¡œêµ¬       ì‹ êµë™    11110102
2    1111010300  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ê¶ì •ë™     ì¢…ë¡œêµ¬       ê¶ì •ë™    11110103
3    1111010400  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ íš¨ìë™     ì¢…ë¡œêµ¬       íš¨ìë™    11110104
4    1111010500  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì°½ì„±ë™     ì¢…ë¡œêµ¬       ì°½ì„±ë™    11110105
..          ...            ...     ...       ...         ...
462  1174010600  ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë™êµ¬ ë‘”ì´Œë™     ê°•ë™êµ¬       ë‘”ì´Œë™    11740106
463  1174010700  ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë™êµ¬ ì•”ì‚¬ë™     ê°•ë™êµ¬       ì•”ì‚¬ë™    11740107
464  1174010800  ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë™êµ¬ ì„±ë‚´ë™     ê°•ë™êµ¬       ì„±ë‚´ë™    11740108
465  1174010900  ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë™êµ¬ ì²œí˜¸ë™     ê°•ë™êµ¬       ì²œí˜¸ë™    11740109
466  1174011000  ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë™êµ¬ ê°•ì¼ë™     ê°•ë™êµ¬       ê°•ì¼ë™    11740110

[467 rows x 5 columns]>

         code      full_name gu_name dong_name  short_code
0  1111010100  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì²­ìš´ë™     ì¢…ë¡œêµ¬       ì²­ìš´ë™    11110101
1  1111010200  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì‹ êµë™     ì¢…ë¡œêµ¬       ì‹ êµë™    11110102
2  1111010300  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ê¶ì •ë™     ì¢…ë¡œêµ¬       ê¶ì •ë™    11110103
3  1111010400  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ íš¨ìë™     ì¢…ë¡œêµ¬       íš¨ìë™    11110104
4  1111010500  ì„œìš¸íŠ¹ë³„ì‹œ ì¢…ë¡œêµ¬ ì°½ì„±ë™     ì¢…ë¡œêµ¬       ì°½ì„±ë™    11110105

In [25]:
for col in df.columns:
    max_len = df[col].astype(str).map(len).max()
    print(f"ğŸ”¹ {col} ìµœëŒ€ ê¸¸ì´: {max_len}")

ğŸ”¹ code ìµœëŒ€ ê¸¸ì´: 10
ğŸ”¹ full_name ìµœëŒ€ ê¸¸ì´: 17
ğŸ”¹ gu_name ìµœëŒ€ ê¸¸ì´: 4
ğŸ”¹ dong_name ìµœëŒ€ ê¸¸ì´: 6
ğŸ”¹ short_code ìµœëŒ€ ê¸¸ì´: 8

In [26]:
df.to_sql(
    name='Seoul_dong_codes',  
    con=engine,                # SQLAlchemy ì—”ì§„
    index=False,               # DataFrame ì¸ë±ìŠ¤ëŠ” ì œì™¸
    if_exists='append'         # ì´ë¯¸ ì¡´ì¬í•˜ëŠ” í…Œì´ë¸”ì— ì¶”ê°€
)
print("âœ… ë°ì´í„° ì‚½ì… ì™„ë£Œ!")

âœ… ë°ì´í„° ì‚½ì… ì™„ë£Œ!