In [14]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql

print("âœ… ì»¤ë„ ì—°ë™ ì„±ê³µ & íŒ¨í‚¤ì§€ ì •ìƒ ì‘ë™!")

âœ… ì»¤ë„ ì—°ë™ ì„±ê³µ & íŒ¨í‚¤ì§€ ì •ìƒ ì‘ë™!

In [15]:
import pandas as pd                         # CSV ì½ê¸°ìš©
from sqlalchemy import create_engine        # DB ì—°ê²°ìš©
from dotenv import load_dotenv              # .env íŒŒì¼ì—ì„œ í™˜ê²½ë³€ìˆ˜ ë¶ˆëŸ¬ì˜¤ê¸°
import os                                   # í™˜ê²½ë³€ìˆ˜ ë¡œë“œì— ì‚¬ìš©

# .env ë¡œë“œ
load_dotenv()

# DB ì—°ê²° ì—”ì§„ ìƒì„±
engine = create_engine(os.getenv("DB_URL"))

print("âœ… DB ì—°ê²° ì„±ê³µ!")

# Seoul_rooms í…Œì´ë¸” ì¡°íšŒ
try:
    query = "SELECT * FROM Seoul_rooms"
    df = pd.read_sql(query, engine)
    
    # ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    print("ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„:")
    display(df.head())
except Exception as e:
    print(f"ğŸš¨ ë°ì´í„° ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

âœ… DB ì—°ê²° ì„±ê³µ!
ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„:

Empty DataFrame
Columns: [id, dong_code, gu_name, dong_name, seq, room_type, room_title, room_desc, price_type, price_info, img_url_list, lat, lng, floor, area_m2, maintenance_fee, created_at]
Index: []

In [16]:
# Seoul_dong_codes í…Œì´ë¸”ì˜ ì»¬ëŸ¼ëª… ì¡°íšŒ
try:
    query = """
    SELECT COLUMN_NAME 
    FROM INFORMATION_SCHEMA.COLUMNS 
    WHERE TABLE_NAME = 'Seoul_rooms' 
    AND TABLE_SCHEMA = DATABASE()
    """
    df_columns = pd.read_sql(query, engine)
    
    # ì»¬ëŸ¼ëª… ë¦¬ìŠ¤íŠ¸ ì¶œë ¥
    print("ğŸ“‹ Seoul_rooms í…Œì´ë¸”ì˜ ì»¬ëŸ¼ëª…:")
    for col in df_columns['COLUMN_NAME']:
        print(col)
except Exception as e:
    print(f"ğŸš¨ ì»¬ëŸ¼ ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

ğŸ“‹ Seoul_rooms í…Œì´ë¸”ì˜ ì»¬ëŸ¼ëª…:
id
dong_code
gu_name
dong_name
seq
room_type
room_title
room_desc
price_type
price_info
img_url_list
lat
lng
floor
area_m2
maintenance_fee
created_at

In [13]:
# Seoul_rooms í…Œì´ë¸”ì—ì„œ íŠ¹ì • ì»¬ëŸ¼ ì¡°íšŒ
try:
    query = """
    SELECT id, room_type, room_title, price_type, price_info, 
           img_url_list, lat, lng, area_m2 
    FROM Seoul_rooms
    """
    df = pd.read_sql(
        sql=query,
        con=engine
    )
    
    # ë°ì´í„°í”„ë ˆì„ ì¶œë ¥
    print("ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„ (ì„ íƒëœ ì»¬ëŸ¼):")
    display(df)  # Jupyter Notebookì—ì„œ í…Œì´ë¸” í˜•ì‹ ì¶œë ¥
except Exception as e:
    print(f"ğŸš¨ ë°ì´í„° ì¡°íšŒ ì‹¤íŒ¨: {e}")
finally:
    engine.dispose()  # ì—”ì§„ ë¦¬ì†ŒìŠ¤ ì •ë¦¬

ğŸ“Š Seoul_rooms ë°ì´í„°í”„ë ˆì„ (ì„ íƒëœ ì»¬ëŸ¼):

Empty DataFrame
Columns: [id, room_type, room_title, price_type, price_info, img_url_list, lat, lng, area_m2]
Index: []